@{
    ViewBag.Title = "Vinyl Store";
}

<div class="jumbotron">
    <h1>Welcome in Vinyl strore!!</h1>
    <p class="lead">We made fantastic service for music freaks! Really! Want to know how we did it?</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Try our 'Buy vinyl section', as well as our 'Lend winyl section'. Go ahead, click some buttons above.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Great Opening of vinyl store</h2>
        <p>Most city dwellers don't belive thats really happening! Check by yourself. Inauguration drink for free for first 100 customers!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New delivery</h2>
        <p>All vinyls comes on schedule.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>