body {
    padding-top: 50px;
    padding-bottom: 20px;
	background: url(Vinyl_disc_icon.svg) #1db100 top left no-repeat;
}
div {
	font-family: Rockwell;
	color: #1db100;
	background-color: #000000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
	color: #1db100
}
a:link {
	color: #1db100
}
a:hover {
	color: #051a98
}
.btn:hover,
.btn:focus {
	color: #238be2;
	text-decoration: none;